/* Add Target custom font  */
@font-face { font-family: HelveticaNeueforTarget-RmPl; src: url('/assets/font/HelveticaNeueforTarget-RmPl.otf'); }

#app {
    font-family: HelveticaNeueforTarget-RmPl, Helvetica !important;
}



/* Override mithril-datepicker default styling */

.mithril-date-picker *, .mithril-date-picker button {
  font-family: sans-serif;
 }

.mithril-date-picker .current-date {
  display: block;
  width: 200px;
  height: 50px;
  border: solid;
  background: none;
  border-color: #C8C7C7;
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom: 15px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}



/* Navbar styling  */
nav.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.org-logo {
 width: 55px;
 height: 55px;
 left: 7px;
 top: 7px;
 position: relative;
}

.logo-circle {
  height: 70px;
  width: 70px;
  background-color: #f7f7f7;
  border-radius: 50%;
  display: inline-block;
}

.org-brand {
    height: 100px;
}

main.container {
    padding-top: 5rem;
}

#app  > nav.navbar-light {
  background: #ffffff !important;
}


#app  > nav > div > ul > li > .retailer_nav_link {
  font-size: 14px !important;
  font-weight: normal;
  margin-left: 40px;
  letter-spacing: normal;
  color: #888888;
}

.retailer_nav_link.active > span.nav_label {
    color: #4a4a4a !important;
    border-bottom: solid 2px #4a4a4a !important;
}

#sign_out {
  color: #000000 !important;
}

.greeting_text {
  font-size: 14px;
  color: #888888;
  font-weight: normal;
}

#app.retailer h2 {
  color: #f30000 !important;
}




/* Search bar styling  */

.searchBar {
  height: 45px;
  border-radius: 6px;
  border: solid 1px;
  font-size: 16px !important;
  color: #666666 !important;
}

.searchBar:focus {
  border: solid 1px #cc0000;
}

.form-control.searchBar::-moz-placeholder {
  color: #666666;
  opacity: 1;
}

.form-control.searchBar:-ms-input-placeholder {
  color: #666666;
}

.form-control.searchBar::-webkit-input-placeholder {
  color: #666666;
}

.search-icon {
  height: 30px;
  position: relative;
  top: -3px;
}

#searchFactory-btn {
    width: 116px;
    height: 45px;
    border-radius: 6px;
    border: solid 1px #cc0000;
    background-color: #cc0000;
}



/* Retailer Factory Search Table */

.view-toggle-text {
  text-decoration: underline;
}

.factory-details {
  border: 0 !important;
  background-color: #f9f9f9;
  box-shadow: inset 0 5px 7px -9px #606060;

}

#app table thead tr th{
  background-color: #f2f2f2 !important;
  border: solid 1px #d6d6d6 !important;
  font-size: 16px;
  text-align: center;
  color: #4a4a4a;
  font-weight: normal;
}
.toggle-factory-details {
    cursor: pointer;
}

#app.retailer table td{
  font-size: 12px;
  color: #666666;
}

.factory-info.selected > td {
  font-weight: bold !important;
  color: #000000 !important;

}

p.factory-details-subtitle, a.factory-profile-link  {
  font-size: 14px !important;
  color: #4a4a4a;
}

.factory-contact-info {
  color: #888888;
}

a.factory-profile-link   {
  border-bottom: 1px solid #505050;
  text-align: center;
}

a.factory-profile-link:hover   {
  color: #cc0000;
  border-bottom: solid 1px #cc0000;
}

td.factory-profile-link {
    vertical-align: middle;
}


/* Factory Request */

#app.factory table tbody tr td {
  font-size: 14px;
  color: #666666;
}

#app.factory .request-title {
  font-size: 24px;
  font-weight: normal;
  color: #366cd9;
}

.request-explanation {
   font-size: 16px;
   color: #4a4a4a;
}

.request-table > thead {
  background-color: #f7f7f7;

}

.request-table {
  font-size: 16px;
  color: #4a4a4a;
}

#app.factory .request-table > thead > tr > th {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  border: none !important;
}

#app.factory .request-table > tbody > tr > td {
  font-size: 16px;
  color: #4a4a4a;
}

.standard-select {
  border: solid 1px #21618e;
  border-radius: 0;
  margin: 0;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 -webkit-appearance:none;
 -moz-appearance:none;
  background: url("/assets/images/arrow-down.svg") no-repeat right;
  background-size: 20px 20px;
  font-size: 14px;
  color: #21618e;
}

.standard-select:focus {
  border: solid 1px #21618e;
  border-radius: 0;
  color: #21618e;
}

.submitRequest, .updateInformation {
  border-radius: 0;
  background-color: #21618e;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  height: 30px;
  padding-top: 5px;
}

.submitRequest:disabled {
  border-radius: 0;
  border: solid 1px #979797;
  background-color: #d8d8d8;
}

.action-btn, .cancelUpdate {
  border-radius: 0;
  background-color: #ffffff;
  border: solid 1px #21618e;
  color: #21618e;
  font-size: 14px;
  font-weight: normal;
  height: 30px;
  padding-top: 5px;
  display: block;
}

.action-btn:hover {
  background-color: #21618e;
  border: solid 1px #21618e;
  color: #ffffff;
}

.dash {
  font-size: 20px;
  align: center;
}

/* Factory Profile in Factory View  */

.factory-profile-field {
  font-size: 18px;
  color: #4a4a4a;
  font-weight: normal;
}

.factory-profile-value {
  color: #666666;
  font-size: 16px;
}

.factory-profile-value:focus {
  border-color: #21618e;
}

.factory-profile-value.form-control-plaintext {
  border-color: #ffffff;
}

.edit-icon {
  margin-left: -25px;
  cursor: pointer;
}

select.factory-profile-value  {
  border: solid 1px #21618e;
  border-radius: 0;
  margin: 0;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 -webkit-appearance:none;
 -moz-appearance:none;
  background: url("/assets/images/arrow-down.svg") no-repeat right;
  background-size: 20px 20px;

}

select.factory-profile-value:disabled  {
  background: none;
}

/* Retailer Factory Profile View */

.blank-circle {
  height: 36px;
  width: 36px;
  background-color: #ffffff;
  border-radius: 50%;
  border: solid 1px #d6d6d6;
  display: inline-block;
  left: 107px;
  top: -13px;
  position: relative;
}
.box-factory-details {
  margin-top: -30px;
  width: 250px;
  border: solid 1px #d6d6d6;
}

.box-factory-details > .box-factory-name {
  font-size: 20px;
  color: #000000;
}

.box-factory-details > .box-factory-address {
  font-size: 16px;
  color: #4a4a4a;
}

.factory-overview-icon {
  height: 25px;
  position: relative;
  left: 4px;
  top: 2px;
}

.back-link {
  font-size: 14px;
  color: #4a4a4a;
  border-bottom: solid 1px #4a4a4a;
}

.back-link:hover {
  color: #cc0000;
  border-bottom: solid 1px #cc0000;
}


/* General use */
.hide {
  display: none !important
}

.show {
  display: block !important
}

.arrow-down {
 transform: rotate(180deg);
}

.edit-icon.agent-profile {
  width: fit-content;
  height: fit-content;
  margin-top: 7px;
}

.updatePassword {
  border-radius: 0;
  background-color: #21618e;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  height: 30px;
  width: auto;
  padding-top: 5px;
}

/* Auditor styling */

#app.auditor > nav.navbar-light{
    background: #ffffff !important;
}

#app.auditor h4, h1 {
    color: #4a4a4a !important;
}

#app.auditor h2 {
    color: #4d917b !important;
}

#app.auditor table thead th{
  border: 1px solid !important;
  background-color: #f7f7f7 !important;
  border-color: #d6d6d6 !important;
  font-size: 16px;
  text-align: center;
  color: #4a4a4a;
}

#app.auditor table tr{
  border: 1px solid !important;
  border-color: #d6d6d6 !important;
}

#app.auditor table td{
  border: 1px solid !important;
  border-color: #d6d6d6 !important;
  font-size: 12px;
  color: #666666;
}

#app.auditor > nav > div > ul > li > .auditor_nav_link {
  font-size: 14px !important;
  font-weight: normal;
  margin-left: 40px;
  letter-spacing: normal;
  color: #888888;
  white-space: nowrap;
}

.auditor_nav_link.active > span.nav_label {
    color: #4a4a4a !important;
    border-bottom: solid 2px #4a4a4a !important;
}

/* Old Styling */

.modal {
  text-align: center;
}

#app.standards_body > nav.navbar-dark{
    background: #003366 !important;
}

#app.standards_body h1, h2, h3, h4  {
    color: #003366 !important;
}

#app.standards_body table thead tr th{
    background-color: #003366 !important;
    border-color: #0066cc !important;
}

#app.standards_body > nav > div > div > a.btn.btn-link.small {
    color:whitesmoke !important;
}

#app.standards_body > nav > div > div > a.btn.btn-outline-success {
    color:whitesmoke !important;
}

#app.standards_body > nav > div > div > a.btn.btn-outline-success:hover {
    background-color: #0066cc;
}

#app.standards_body button.btn-outline-secondary {
    color:whitesmoke;
}
